{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Account Summary Page</h2>
{% for account in accounts %}
<div>
    <p>Your account details are below:</p>
   
    <table>
        <tr> <th>Account Identifier:</th>
            <th>Account Number:</th>
            <th>Account Type:</th>
            <th>Total Units:</th>
            <th>Total Valuation:</th>
            <td></td>
            
        </tr>
        <tr>
            
            <td>{{ account[1] }}</td>
            <td>{{ account[2] }}</td>
            <td>{{ account[3] }}</td>
            <td>{{ account[2] }}</td>
            <td>{{ account[3] }}</td>
        </tr>
        

    </table>
</div>
{% endfor %}
      
{% endblock %}