{% extends 'layoutUser.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Customer Information </h2>
{% for account in accounts %}
<div display: inline-block>
    <p>Your account details are below:</p>      
    
    <table>
        <tr>
            <td>Customer Name:</td>
            <td>{{ account[1] }}</td>
        </tr>
        <tr>
            <td>Date Of Birth:</td>
            <td>{{ account[2] }}</td>
        </tr>
        <tr>
            <td>Postal Code:</td>
            <td>{{ account[2] }}</td>
        </tr>
        <tr>
            <td>Adress Line:</td>
            <td>{{ account[2] }}</td>
        </tr>
        <tr>
            <td>NiNo Number:</td>
            <td>{{ account[2] }}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{ account[2] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account[3] }}</td>
        </tr>
    </table>
</div>
{% endfor %}
      
{% endblock %}